{{!-- <html>
  <head>

    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css'
      type='text/css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
      type='text/css'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css'
      type='text/css'
    />
    {{#if route.hasCSS}}
      <link
        rel='stylesheet'
        href='/static/css/{{route.cssFile}}'
        type='text/css'
      />
    {{/if}}
  </head>
  <body>
    <div class='uk-container uk-width-1-1 uk-padding-remove uk-margin-remove'>
      <nav id='navbar' class='uk-navbar-container' uk-navbar>
        <div class='uk-navbar-left'>
          <ul class='uk-navbar-nav'>
            <li class='uk-active'>
              <a href='/'>Home</a>
            </li>
            <li class='uk-active'>
              <a href='/realtimeproducts'>Product Realtime</a>
            </li>
            <li>
              <a href='/api/carts/64dc10cc7645d9409c8cb155'>Carrito<span 
                  id='cart-badge'
                  class='uk-label'
                ></span></a>
            </li>
            <li>
              <a>Cuenta</a>
              <div class='uk-navbar-dropdown'>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                  <li>
                    <a href='#'>Perfil</a>
                  </li>
                  <li>
                    <a href='/admin'>Admin</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href='/chat'>Chat</a>
            </li>
          </ul>
        </div>
      </nav>
      <div
        class='uk-width-1-1 uk-margin-remove uk-align-center uk-text-break uk-padding'
      >

        <div id='main-container' class='uk-child-width-1-4@m uk-grid'>
          {{{body}}}
        </div>

      </div>
    </div>
    {{! lo tengo que poner aca pq sino no anda }}
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
    {{#if route.hasSocket}}
      <script src='/socket.io/socket.io.js'></script>
    {{/if}}

    {{#if route.hasJsFile}}
      <script src='/static/js/{{route.jsFile}}'></script>
    {{/if}}
    {{! <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>  no entiendo pq si lo pongo aca no anda  }}
    <script
      src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js'
    ></script>
  </body>
</html> --}}


<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" type="text/css">
    {{#if style}} 
      <link rel="stylesheet" href="/static/css/{{style}}.css" type="text/css">
    {{/if}}
  </head>
  <body>
    <div class="uk-container uk-width-1-1 uk-padding-remove uk-margin-remove">
      <nav id="navbar" class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/carrito">Carrito<span id="cart-badge" class="uk-label">0</span></a>
            </li>
            {{#if user}}
              <li>
                <a href="/chat">Chat</a>
              </li>
            {{/if}}
            
            {{#if user}}
              <li>
                <a>Bienvenido, {{user.name}}!</a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="/profile">Perfil</a>
                    </li>
                    {{#if user.isAdmin}}
                      <li>
                        <a href="/admin/product/add">Admin</a>
                      </li>
                    {{/if}}
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            {{else}}
              <li>
                <a href="/login">Inicia Sesion</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <div class="uk-width-1-1 uk-margin-remove uk-align-center uk-text-break uk-padding">
        <h2 id="page-title">{{ title }}</h2>
        {{!-- <div class="uk-width-1-1 uk-align-center" uk-grid>
          <button class="uk-button" onclick="refreshPromo()">Refresh</button>
          <div id="rebaja-banner" class="uk-card uk-card-default uk-width-1-1">
            <div class="uk-card-body uk-flex">
              <span id="title"></span>
              <span class="uk-badge" id="sale"></span>
            </div>
          </div>
        </div> --}}
        {{{body}}}
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js"></script>
  </body>
</html>